#container {
    padding: 3%;
    background-image: url("../../assets/MBL_Office_Faded.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.headertxt {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}

.header_row_txt {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color: plum;
    font-size: 1.12rem;
}

.rowtxt {
    background-color: plum;
    font-family: Georgia, cursive;
    color: purple;
}

#tableContainer {
    min-width: 50vw;
    max-width: 100vw;
}

#MBL_logo {
    min-width: 10vw;
    min-height: 10vh;
    max-width: 15vw;
    max-height: 15vh;
}