<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar [ngClass]="{ 'toolbar' : true }" color="danger" class="example-toolbar">
      <mat-icon *ngIf="!opened" style="color: plum; cursor: pointer;"  (click)="onOpenSidebar()">arrow_circle_right</mat-icon>
      <mat-icon *ngIf="opened" style="color: plum; cursor: pointer;"  (click)="onCloseSidebar()">arrow_circle_left</mat-icon>
      
      <img src="../../assets/MBL.png" style="margin-left: 1%;" width="45vw" height="45vh" />
      <h1 class="header">Meezan Trade Onboarding</h1>

      <mat-icon aria-hidden="false" style="cursor: pointer;" aria-label="Log Out" fontIcon="exit_to_app" (click)="logOut()"></mat-icon>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="opened"
      [ngClass]="{ navContainer : true }"
    >
      <mat-nav-list>
        <div mat-list-item class="d-flex flex-column flex-md-row align-items-center" [ngClass]="{ navListItemContainer : true }" routerLink="dashboard">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <h5 class="navListItem">Dashboard</h5>
        </div>

        <div class="d-flex flex-row flex-column flex-md-row align-items-center" [ngClass]="{ navListItemContainer : true }" routerLink="userDetails">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="perm_identity"></mat-icon>
          <h5 class="navListItem">User details</h5>
        </div>

        <div class="d-flex flex-row flex-column flex-md-row align-items-center" [ngClass]="{ navListItemContainer : true }" routerLink="contact">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="contact_support"></mat-icon>
          <h5 class="navListItem">Contact</h5>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style=" background-color: white">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>