<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar [ngClass]="{ 'toolbar' : true }" color="danger" class="example-toolbar">
      <mat-icon style="color: plum; cursor: pointer;"  (click)="navToggle()">menu</mat-icon>
      
      <img src="../../assets/images/MBL.png" style="margin-left: 1%;" width="45vw" height="45vh" />
      <h1 class="header">Meezan Trade Onboarding</h1>

      <mat-icon aria-hidden="false" style="cursor: pointer;" aria-label="Log Out" fontIcon="exit_to_app" (click)="logOut()"></mat-icon>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="opened"
      [ngClass]="{ navContainer : true }"
    >
      <mat-nav-list>
        <div *ngFor="let item of sidenavItems" mat-list-item class="d-flex flex-column flex-md-row align-items-center" [ngClass]="{ navListItemContainer : true }" [routerLink]="item.pageLink">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{ item['icon'] }}"></mat-icon>
          <h5 class="navListItem">{{ item["title"] }}</h5>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style=" background-color: white">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>