<div class="container d-flex flex-row justify-content-center h-100">
    <div class="align-self-center border" id="container">
        <h5 class="txt text-center" style="font-size: 2rem;">Please convey your Issues</h5>
        <br/><br/>
        <div class="container-fluid d-flex flex-md-row flex-column-reverse">
            <form [formGroup]="form" class="form" style="flex: 3;" (ngSubmit)="onMessageSubmit()">
                <div class="form-group">
                    <label for="message" class="txt" style="font-size: 1.2rem;">Enter Message</label>
                    <textarea id="message" formControlName="message" (focus)="messageFocused = true" (blur)="messageFocused = false" name="message" class="form-control inputTxt" rows="5" cols="20"></textarea>
                    <p class="errortxt" *ngIf="messageFocused && (Message.errors?.required || Message.errors?.pattern)">Message cannot be empty</p>
                </div>

                <button type="submit" class="btn txt w-100" id="submitBtn" [disabled]="form.invalid">Submit</button>
            </form>
            <div style="flex: 2;" class="text-center my-auto">
                <img src="../../assets/images/MBL.png" width="80%" height="80%" />
            </div>
        </div>
    </div>
</div>