#container {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../assets/images/MBL_Office_Faded.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#formContainer {
    background-color: purple;
    padding: 2%;
    border-radius: 10px;
    width: fit-content;
}

.txt {
    font-weight: bold;
    color: plum;
    font-size: 1.2rem;
    font-family: cursive;
}

#MBL_logo {
    max-width: 30%;
    max-height: 30%;
    margin: 3%;
}

#submitBtn {
    background-color: plum;
    color: purple;
    font-family: monospace;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 3%;
}

#validationtxt {
    color: red;
    font-size: 1rem;
    font-family: cursive;
}