<div class="container-fluid d-flex flex-column justify-content-center" id="container">
    <div class="container-fluid d-flex flex-column" id="formContainer">
        <div>
            <p class="txt text-center" style="font-size: 2rem;">Set New Password</p>
        </div>
        <div class="d-flex flex-column-reverse flex-md-row">
            <form class="form" style="flex: 1" [formGroup]="form" (ngSubmit)="formSubmitted()">
                <div class="form-group">
                    <label for="password" class="txt">Enter New Password</label>
                    <input type="password" id="password" name="password" formControlName="password" class="form-control" (focus)="passwordFocused = true" (blur)="passwordFocused = false" />
                    
                    <div *ngIf="passwordFocused">
                        <small id="validationtxt" *ngIf="Password.errors?.required">Password is required</small>
                        <small id="validationtxt" *ngIf="Password.value.length > 0 && Password.errors?.validation">Atleast: 8 characters, 1 lowercase, 1 uppercase, 1 digit and 1 special character</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmed" class="txt">Confirm New Password</label>
                    <input type="password" id="confirmed" name="confirmed" class="form-control" (focus)="confirmFocused = true" (blur)="confirmFocused = false" formControlName="confirmed" />
                    <small *ngIf="confirmFocused && Confirmed.value != Password.value" id="validationtxt">Must match Password</small>
                </div>
                <button type="submit" class="btn" id="submitBtn" [disabled]="form.invalid || Confirmed.value != Password.value">Set Password</button>
            </form>
            <img src="../../assets/images/MBL.png" id="MBL_logo" class="align-self-center" />
        </div>
    </div>
</div>