#container {
    background-image: url("../../assets/MBL_Office_Faded.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    padding-right: 2%;
}

#heading {
    font-size: 1rem;
    padding: 1%;
}

#headingTxt {
    font-size: 2rem;
    font-family: cursive;
    color: black;
    text-decoration-line: underline;
    font-weight: bold;
    flex: 1;
}


.header_row_txt {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color: plum;
    text-align: center;
    padding: 2%;
    font-size: 1.12rem;
}

#addProductBtn {
    font-size: 1rem;
    font-family: cursive;
}

.rowtxt {
    background-color: plum;
    text-align: center;
    font-family: Georgia, cursive;
    color: purple;
}

#tableContainer {
    min-width: 50vw;
    max-width: 100vw;
    margin: 1%;
}

@media screen and (max-width: 574px) {
    #table {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 575px) {
    #table {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #headingTxt {
        text-align: center;
    }
}
