<div class="container d-flex flex-row align-items-center justify-content-center" id="container">
    <div class="d-flex flex-column" id="forgotContainer">
        <p class="h3 txt text-center">Forgot Password ?</p>
        <div class="d-flex flex-column-reverse flex-sm-row align-items-center justify-content-around" style="margin-top: 10%">
            <form [formGroup]="form" class="form-group d-flex flex-column" style="flex: 2">
                <label for="username" class="txt">Username</label>
                <input type="text" class="form-control txt" formControlName="username" (focus)="usernameFocused = true" (blur)="usernameFocused = false" style="color: black" />
                
                <div *ngIf="usernameFocused">
                    <small class="validationtxt" *ngIf="Username.errors?.required">Username is required</small>
                    <small class="validationtxt" *ngIf="Username.errors?.minlength">Username must be of minimum 3 characters</small>
                </div>

                <button type="submit" class="btn txt" id="resetBtn" [disabled]="Username.invalid" routerLink="/resetPassword">
                    Reset Password
                </button>
            </form>
            <img src="../../assets/MBL.png" id="imgContainer" />
        </div>
    </div>
</div>